.hidden {
    display: none !important;
}

.w-33 {
    width: 33% !important;
    max-width: 33% !important;
}

.w-45 {
    width: 45% !important;
    max-width: 45% !important;
}

.text-small {
    font-size: 12px;
}

#objectives-container li.complete {
    text-decoration: line-through;
}

.nav-pills .nav-link {
    border-radius: 0;
}
.nav-tabs .nav-link {
    border: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.environment {
    transition: transform 300ms ease;
    max-height: 400px;
}

.fixed-right {
    right: 0 !important;
    left: auto;
}

.objectives-container ul {
    padding-left: 0;
}

.rewards {
    overflow: auto;
    height: 255px;
    max-height: 255px;
}