.w-33 {
    width: 33% !important;
    max-width: 33% !important;
}

.w-45 {
    width: 45% !important;
    max-width: 45% !important;
}

.text-small {
    font-size: 12px;
}

#objectives-container li.complete {
    text-decoration: line-through;
}