<div class="environment w-45 m-3 p-2 bg-primary-subtle border border-primary" id="env_0">
    <h2 id="trainer"></h2>
    <p id="current_reward"></p>
    <h3>Objectives</h3>
    <div id="objectives-container" class="m0 d-flex flex-row justify-content-between">
        <ul id="milestone-objectives">
            <li id="oaks-parcel">Oak's Parcel</li>
            <li id="pokedex">Pokedex</li>
            <li id="town-map">Town Map</li>
            <li id="ss-anne">SS Anne</li>
        </ul>
        <ul id="badges">
            <li id="brock">Brock</li>
            <li id="misty">Misty</li>
            <li id="surge">Surge</li>
            <li id="erika">Erika</li>
            <li id="koga">Koga</li>
            <li id="sabrina">Sabrina</li>
            <li id="blaine">Blaine</li>
            <li id="giovanni">Giovanni</li>
        </ul>
        <ul id="pokemon">
            <li id="snorlax">Snorlax</li>
            <li id="articuno">Articuno</li>
            <li id="zapdos">Zapdos</li>
            <li id="moltres">Moltres</li>
            <li id="mewtwo">Mewtwo</li>
            <li id="mew">Mew</li>
        </ul>
    </div>
            
    <h3 id="trainer-party"></h3>

    <div id="party" class="d-flex flex-row flex-wrap justify-content-start"></div>
</div>