<head>
    <title>Pokemon Emulator API</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
    <div class="container-xxl">
        <div class="fixed-top fixed-right m-2">
            <button type="button" id="quit-button" class="btn btn-lg btn-danger" data-quitting="false" onclick="toggleQuit();"><i class="bi bi-x-lg"></i></button>
        </div>
        <h3 class="environments-banner">Environments</h3>
        <div id="app" class="d-flex flex-row flex-wrap">
        </div>
        <h3>Raw Data</h3>
        <p>Pokemon Emulator API is running. Access <a href="/state" target="_blank">/state</a> for game state.</p>
        <div class="bg-secondary bg-opacity-50 border border-dark border-3 p-1">
            <pre id="status"></pre>
        </div>
    </div>
    <script type="text/javascript">
        const state_url = "{{ url_for('state') }}";
        const env_template_url = "{{ url_for('environment_template') }}";
        const party_template_url = "{{ url_for('party_template') }}";
        const quit_toggle_url = "{{ url_for('quit_toggle') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-4.0.0.min.js" integrity="sha256-OaVG6prZf4v69dPg6PhVattBXkcOWQB62pdZ3ORyrao=" crossorigin="anonymous"></script>
</body>