<head>
    <title>Pokemon Emulator API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" />
<body>
    <div id="app">
        <h1 id="trainer"></h1>
        <h2>Objectives</h2>
        <div id="objectives-container">
            <ul id="objectives">
                <li id="oaks-parcel">Oak's Parcel</li>
                <li id="town-map">Town Map</li>
                <li id="ss-anne">SS Anne</li>
            </ul>
            <ul id="badges">
                <li id="badge-brock">Brock</li>
                <li id="badge-misty">Misty</li>
                <li id="badge-surge">Surge</li>
                <li id="badge-erika">Erika</li>
                <li id="badge-koga">Koga</li>
                <li id="badge-sabrina">Sabrina</li>
                <li id="badge-blaine">Blaine</li>
                <li id="badge-giovanni">Giovanni</li>
            </ul>
            <ul id="pokemon">
                <li id="pokemon-snorlax">Snorlax</li>
                <li id="pokemon-articuno">Articuno</li>
                <li id="pokemon-zapdos">Zapdos</li>
                <li id="pokemon-moltres">Moltres</li>
                <li id="pokemon-mewtwo">Mewtwo</li>
                <li id="pokemon-mew">Mew</li>
            </ul>
        </div>
        
        <h2 id="trainer-party"></h2>

        <div id="party-1" class="party-entry hidden">
            <div class="image-container"><img class="image"src="" alt="Pokemon Image" /></div>
            <div class="name"></div>
            <div class="level"></div>
            <div class="hp"></div>
            <div class="exp"></div>
            <ul class="moves">
                <li class="move move-1 hidden"></li>
                <li class="move move-2 hidden"></li>
                <li class="move move-3 hidden"></li>
                <li class="move move-4 hidden"></li>
            </ul>
        </div>

        <h3>Raw Data</h3>
        <p>Pokemon Emulator API is running. Access <a href="/state" target="_blank">/state</a> for game state.</p>
        <pre id="status"></pre>
    </div>
    <script type="text/javascript">
        const state_url = "{{ url_for('state') }}";
    </script>
    <script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>