<div class="party-entry hidden text-center w-33">
    <div class="row" style="margin: auto;">
        <div class="col-12 px-0">
            <p class="name fw-bold mb-0"></p>
            <p class="species text-small mb-0"></p>
        </div>
        <div class="image-container col-12"><img class="image"src="" alt="Pokemon Image" /></div>
        <div class="col-md-6 px-0">
            <div class="level"></div>
        </div>
        <div class="col-md-6 px-0">
            <div class="hp"></div>
        </div>
        <div class="col-12 px-0">
            <div class="exp"></div>
        </div>
        <div class="moves col-12 px-0 row" style="margin: auto;">
            <p class="move move-1 hidden text-center text-small p-0 m-0"></p>
            <p class="move move-2 hidden text-center text-small p-0 m-0"></p>
            <p class="move move-3 hidden text-center text-small p-0 m-0"></p>
            <p class="move move-4 hidden text-center text-small p-0 m-0"></p>
        </div>
    </div>
</div>